<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  <h1>Pig Latinizer!</h1>

      <h3>Enter a word or phrase and then hit "submit" to see it translated to Pig Latin!</h3>

    <form action="/piglatinize" method="post">
      Enter your phrase: <input type="text" name="user_phrase"><br>
      <br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>